:root {
    --Primary-Brand: #4D5AE5;
    --Pressed-state: #404bbf;
    --Dark: #2e2f42;
    --Success: #31d0aa;
    --Text: #434455;
    --Subtle-Text: #8e8f99;
    --Accent: #e7e9fc;
    --Light: #f4f4fd;
    --White-background: #ffffff;
    --ModalModal-background: #fcfcfc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;

    color: var(--Text);
    background-color: var(--White-background);

}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid tomato;
}

.list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;

}

.link {
    text-decoration: none;
}

/* Логотип */

.header-logo,
.footer-logo {
    color: var(--Primary-Brand);

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-half {
    color: var(--Dark);
}

.logo-half-footer {
    color: var(--White-background);
}

/* Навігація */
.header-link {
    color: var(--Dark);

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link:focus,
.header-link:hover {
    color: var(--Pressed-state);

    font-size: 16px;
    line-height: 1.5;
}

.address,
.address-link {
    font-style: normal;
}

.address-link {
    color: var(--Text);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: var(--Pressed-state);

    font-size: 16px;
    line-height: 1.5;
}

/* Heros */

.heros {
    text-align: center;
    background-color: var(--Dark);
}

.heros-title {
    /* padding: 188px 472px 292px; */
    margin-top: 0;
    margin-bottom: 48px;
    min-width: 496px;

    color: #FFFFFF;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

}

.heros-button {
    display: inline-block;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    text-align: center;
    color: var(--White-background);
    background-color: var(--Primary-Brand);

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.heros-button:hover,
.heros-button:focus {
    background-color: var(--Pressed-state);
}

/* Наші переваги */

.section-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-global-subtitle {
    margin-top: 0;
    margin-bottom: 8px;

    color: var(--Dark);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-global-text,
.section-team-prof {
    margin-top: 0;
    margin-bottom: 0px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Наші роботи, портфоліо */

.section-works {
    padding-top: 0px;
    padding-bottom: 120px;
}

.section-global-title {
    margin-top: 0;
    margin-bottom: 72px;

    color: var(--Dark);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;

}

/* Наша команда */
.container-team {
    width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}

.section-team {
    background-color: var(--Light);
}

.team-cards {
    background-color: var(--White-background);
}

/* .team-name {
    margin-top: 32px;
    margin-bottom: 32px;
} */

.container-footer {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
    color: var(--Light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    margin-top: 16px;
}

.footer {
    /* width: 1440px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
    padding-top: 100px;
    padding-bottom: 100px; */
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--Dark);
}

/* Сайт Портфоліо */
.projects-button {
    color: var(--Primary-Brand);
    background-color: var(--Accent);

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.projects-button:hover,
.projects-button:focus {
    background-color: var(--Pressed-state);
    color: var(--White-background);
}